section .row.text-center img {
  width: 100%;
  max-width: 250px;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}

section .row.text-center div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
